page-profile {
    .scroll-content{
        background-color: #fff;
        background-image:none !important;
    }
    .value {
        color: #666;
        padding: 7px;
        border: 1px solid #ddd;
        margin-bottom: 10px;
        margin-top: 2px;
    }
    span.label {
        color: #000;
    }

}
