page-setting {
    .scroll-content{
        background-color: #fff;
        background-image:none !important;
    }
    ion-list .item-icon {
        margin-right: 5px;
        top: 2px;
        position: relative;
    }
}
